

#navbar {
  height: 80px; 
  position: fixed;
  top: 1px;
  left: 0;
  width: 100%;
  z-index: 999;
  display: flex;
  justify-content: center; /* center the flex items horizontally */
  align-items: center;
  background-color: rgb(255, 255, 255);
  padding: 1px 1px; /* reduce the top and bottom padding */
  box-shadow: 0 0 5px green;
  border-radius: 0px; /* add rounded corners */
  z-index: 9999;
  opacity: 0.98;
}

#navbar ul {
  display: flex;
  justify-content: space-between; /* center the items and leave empty space around them */
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: 'Nunito Sans', sans-serif;
  font-size: large;
}

#navbar li {
  margin: 0 20px; /* add equal margin on left and right */
}

#navbar li:last-child {
  margin-right: 0;
  margin-left: 30px;
  margin-top: 3px;
}

#navbar li:last-child > * {
  margin-right: 0;
  margin-left: 30px;
  margin-top: 3px;
}

#navbar a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  transition: color 0.2s;
}


#navitem a:hover {
  font-weight: 2000;
}

#navbarBlack {
  height: 80px; 
  position: fixed;
  top: 1px;
  left: 0;
  width: 100%;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #151313;
  padding: 1px 1px;
  box-shadow: 0 0 5px green;
  border-radius: 0px;
  z-index: 9999;
  opacity: 0.98;
}

#navbarBlack ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: 'Nunito Sans', sans-serif;
  font-size: large;
}

#navbarBlack li {
  margin: 0 20px;
}

#navbarBlack li:last-child {
  margin-right: 0;
  margin-left: 30px;
  margin-top: 3px;
  color: #fff !important;
}

#navbarBlack li:last-child > * {
  margin-right: 0;
  margin-left: 30px;
  margin-top: 3px;
  color: #fff !important;
}

#navbarBlack a {
  text-decoration: none;
  color: #fff; /* change the text color to white */
  font-weight: bold;
  transition: color 0.2s;
}



/* Style for the app page below the nav bar */

#app_page {
  margin-top: 50px;
}

#app_page h1 {
  margin-bottom: 20px;
}

@media (max-width: 767px) {
  #app_page {
    /* Styling for mobile devices */
    margin-top: 30px;
  }
}


#searchInput {
  background-color: gray;
  position: relative;
  margin-top: 20px;
  width: 600px;
  height: 15px;
  padding: 10px;
  border: 1px solid green;
  background: #F2F2F2;
  border-radius: 15px;
  outline: none;
  color: #333333;
  font-size: 0.5em;
  transition: 0.5s;
}


.searchInput span {
  position: absolute;
  left: 20px;
  padding: 10px;
  pointer-events: none;
  font-size: 1em;
  color: #707070;
  text-transform: uppercase;
  transition: 0.5s;
}

.searchInput input:valid ~ span,
.searchInput input:focus ~ span {
  color: #61BC7C;
  transform: translateX(10px) translateY(-7px);
  font-size: 0.65em;
  padding: 0 10px;
  background: #F2F2F2;
  border-left: 1px solid #61BC7C;
  border-right: 1px solid #61BC7C;
  letter-spacing: 0.2em;
}

.searchInput input:valid,
.searchInput input:focus {
  border: 1px solid #61BC7C;
}

#searchInput:hover {
  box-shadow: 0 0 5px green;
}

#HeaderNYT {
  font-size: x-large;

}

#app_page {
  margin-top: 50px;
  padding: 0 150px;
  font-family: 'Nunito Sans', sans-serif;
}

#home, #myBooks {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
}

#home img {
  width: 150px;
  margin-right: 10px;
  padding: 5px 10px;
}

#myBooks a {
  display: flex;
  align-items: center;
  padding: 15px 25px;
  border-radius: 15px; /* add rounded corners */
}

#logIn a {
  display: flex;
  align-items: center;
  padding: 15px 25px;
  border-radius: 15px; /* add rounded corners */
}

#home:hover {
  background-color: rgba(128, 128, 128, 0.2);
  border-radius: 15px; /* add rounded corners */
  transition: background-color 0.5s;
}

#myBooks:hover {
  background-color: rgba(128, 128, 128, 0.2);
  border-radius: 15px; /* add rounded corners */
  transition: background-color 0.5s;
}

#logIn:hover {
  background-color: rgba(128, 128, 128, 0.2);
  border-radius: 15px; /* add rounded corners */
  transition: background-color 0.5s;
}

@keyframes page-fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#add-book-container {
  position: relative;
  top: 10px;
  margin-left: 10px;
}

#Library {
  display: flex;
  align-items: center;
  text-align: left;
}

#Library h1 {
  margin-right: 20px;
}

#addBook {
  margin-left: auto;
  margin-top: -70px;
}

ul {
  list-style: none;
}

#Library {
  margin-left: -35px;
}

/* Wrapper */
.login-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f7f7f7;
}

/* Title */
.login-title {
  font-size: 2rem;
  margin-bottom: 2rem;
}

/* Input fields */
.login-input {
  border: 1px solid #61BC7C;
  height: 30px;
  width: 500px;
  margin-bottom: 1rem;
  padding: 0.5rem;
  font-size: 1.2rem;
  border-radius: 15px; /* add rounded corners */
}

/* Submit button */
.login-submit {
  background-color: #61BC7C;
  color: #fff;
  border: none;
  padding: 0.7rem 2rem;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 15px; /* add rounded corners */
  width: 520px;
}

.register-submit{
  background-color: #61BC7C;
  color: #fff;
  border: none;
  padding: 0.7rem 2rem;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 15px; /* add rounded corners */
  margin-top: 15px;
  width: 520px;
}

.login-submit:hover {
  background-color: #449d5c;
}

.register-submit:hover {
  background-color: #449d5c;
}


